<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <%- include('../partials/nav.ejs')%>
	<h1>Shoe Store</h1>

	<a href="">Add</a>

	<table border="1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Category</th>
				<th>Size</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Vans Old Skool</td>
				<td>Casual</td>
				<td>36 - 46</td>
				<td>Available</td>
				<td><a href="">Discontinued</a> | <a href="">Delete</a></td>
			</tr>
		</tbody>
	</table>
</body>

</html>