<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/signup" method="post">
		<h3>USER</h3>
		<div>
			<label>Username</label>
			<input type="text" name="username">
		</div>
		<div>
			<label>Password</label>
			<input type="password" name="password">
		</div>
		<div>
			<label>E-Mail</label>
			<input type="email" name="email">
		</div>		

		<h3>DETAIL</h3>
		<div>
			<label>Full Name</label>
			<input type="text" name="fullName">
		</div>
		<div>
			<label>Born Date</label>
			<input type="date" value="1990-01-01" name="bornDate">
		</div>
		<div>
			<label>Phone Number</label>
			<input type="number" name="phoneNumber">
		</div>
		<div>
			<label>Image URL</label>
			<input type="text" name="imageUrl">
		</div>		
		<div>
			<button type="submit">Signup</button>
		</div>
	</form>
</body>
</html>