<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <%- include('../partials/nav.ejs')%>

    <button><a href="/diseases/list">Diseases List</a></button>

    <p>
        ADMIN:
    - ADD/EDIT/DELETE DISEASES
    - CHECK DISEASES AVAILABILITY
    - CHECK CLIENT BY FILTERING DISEASES
        
        DOCTORS:
        - ADD/EDIT/DELETE DISEASES
        - CHECK DISEASES AVAILABILITY
        - CHECK CLIENT BY FILTERING DISEASES

    CLIENT:
    - CHECK DISEASES RECORD
</p>  

</body>
</html>