<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <%- include('../partials/nav.ejs')%>

    <br>

    <button><a href="/diseases/list">Diseases List</a></button>
 

</body>
</html>