<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <%- include('../partials/nav.ejs')%>
    <div>
        <button> VERIFY NEW USER</button>
        <button> ADD SYMPTOMS</button>
        <button> ADD DISEASES</button>
    </div>
</body>
</html>